* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

body {
    padding-top: 20px;
    background-color: rgb(247, 237, 223);
    background-image: url('../img/backGrounds/madrid.jpg');
    display: flex;
}

hr {
    border-width: 2px;
    width: 80%;
    margin-left: 10%;
    border-color: #000000;
}

#descripcion-text {
    margin: 20px;
}

#precios-container {
    display: flex;
    justify-content: center;
}

.container {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    transition: transform 0.5s ease;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.carousel-inner {
    width: 90%;
    height: fit-content;
    margin-left: 5%;
}

.carousel-item img {
    width: 100%;
    height: fit-content;
    border-radius: 10px;
}



.carousel-control-prev,
.carousel-control-next {
    width: 5%;
    border: 0;
    background-color: #ffffff00;
    margin: 10px;
}

.arrow {
    font-size: 40px;
    color: #00ff00;
}

.nombre {
    font-style: normal;
}

.line-through {
    position: relative;
}

.line-through::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    /* Grosor de la línea de tachado */
    background-color: rgb(233, 89, 32);
    /* Color de la línea de tachado */
    transform-origin: top left;
    transform: rotate(-15deg);
    /* Angulo de rotación de la línea de tachado */
    top: 70%;
}


#precio-text {
    color: rgb(56, 212, 51);
    font-size: 50px;
}

#precio-amazon-text {
    color: red;
    font-size: 50px;
}

#cantidad-text {
    font-size: large;
}

p,
h1,
h2,
h3,
strong {
    font-style: italic;
}

.numbers {
    margin: 10px;
}


@media (max-width: 960px) {

    .container {
        width: 90%;
        height: fit-content;
        margin-bottom: 20px;
    }

    .carousel-inner {
        width: 95%;
        margin-left: 2.5%;
        height: fit-content;
    }

    .carousel-item img {
        width: 100%;
        height: 400px;
        border-radius: 10px;
    }
}

@media (max-width:413px) {
    #precio-text {
        color: rgb(56, 212, 51);
        font-size: 30px;
    }

    #precio-amazon-text {
        color: red;
        font-size: 30px;
    }
}